$main-color: #ffbc00;

.container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 2rem 4rem;

  header {
    margin-bottom: 1.5rem;

    h1 {
      font-size: 1.7rem;

      i { font-size: 34px; }
    }
  }

  .board { column-count: 4; }
}


@media screen and (max-width: 950px) {
  .container .board { column-count: 3; }
}


@media screen and (max-width: 700px) {
  .container .board { column-count: 2; }
}

@media screen and (max-width: 500px) {
  .container .board { column-count: 1; }
}
